## Описание колонок

`Rank` - Общий рейтинг продаж

`Name` - Название игры

`Platform` - Платформа, на которой выпущена игра (например, PC, PS4 и т.д.)

`Year` - Год выпуска игры

`Genre` - Жанр игры

`Publisher` - Издатель игры

`NA_Sales` - Продажи в Северной Америке (в миллионах)

`EU_Sales` - Продажи в Европе (в миллионах)

`JP_Sales` - Продажи в Японии (в миллионах)

`Other_Sales` - Продажи в остальном мире (в миллионах)

`Global_Sales` - Общемировые продажи.

In [20]:
import pandas as pd

# загрузите датасет
df = pd.read_csv("vgsales.csv")  # ваш код здесь

# после того датасет корректно загрузился, можно посмотреть на данные глазами
df.head(7)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01

### Дальше идут вопросы по датасету, на которые нужно найти ответ используя функционал библиотеки Pandas.

вопрос 1: Найдите количество уникальных игр в датасете.

*note*: обратите внимание на функции unique, nunique в Pandas

оригинал - https://pandas.pydata.org/docs/reference/api/pandas.unique.html

на русском - https://runebook.dev/ru/docs/pandas/reference/api/pandas.unique

In [75]:
# ваш код здесь
df.nunique()

Rank            16598
Name            11493
Platform           31
Year               39
Genre              12
Publisher         578
NA_Sales          409
EU_Sales          305
JP_Sales          244
Other_Sales       157
Global_Sales      623
dtype: int64

In [73]:
# уникальные игры в датасете
games_uniq = df['Name'].nunique()
print(games_uniq)

11493

вопрос 2: Какова общая величина продаж игр в Японии?

In [68]:
# ваш код здесь
# общая велича продаж в Японии
jp_sales_sum = df['JP_Sales'].sum()
print(jp_sales_sum)

1291.0200000000002

вопрос 3: Какие три жанра игр самые популярные в Северной Америке (по количеству продаж)?

In [87]:
# ваш код здесь
# Группируем данные по жанрам и подсчитываем сумму продаж в Северной Америке для каждого жанра
genre_sales = df.groupby('Genre')['NA_Sales'].sum().reset_index()

# Сортируем жанры по сумме продаж в порядке убывания
genre_sales = genre_sales.sort_values(by='NA_Sales', ascending=False)

# Выводим только три самых популярных жанра игр в Северной Америке
top3_genres = genre_sales.head(3).reset_index(drop=True)

# Выводим результат
print(top3_genres)

     Genre  NA_Sales
0   Action    877.83
1   Sports    683.35
2  Shooter    582.60

вопрос 4: Какая платформа была самой популярной (по количеству выпущенных игр) в 2000 году? А в 2015?

In [95]:
# ваш код здесь
# Функция для нахождения самой популярной платформы по году
def most_popular_platform_by_year(df, year):
    # Отфильтруем данные для указанного года
    df_year = df[df['Year'] == year]
    
    # Подсчитаем количество игр для каждой платформы
    platform_counts = df_year['Platform'].value_counts().reset_index()
    platform_counts.columns = ['Platform', 'Count']
    
    # Найдем платформу с наибольшим количеством выпущенных игр
    most_popular_platform = platform_counts.iloc[0]
    
    return most_popular_platform

# Находим самые популярные платформы в 2000 и 2015 годах
most_popular_2000 = most_popular_platform_by_year(df, 2000)
most_popular_2015 = most_popular_platform_by_year(df, 2015)

print(f"Самая популярная платформа в 2000 году: {most_popular_2000['Platform']} ({most_popular_2000['Count']} игр)")
print(f"Самая популярная платформа в 2015 году: {most_popular_2015['Platform']} ({most_popular_2015['Count']} игр)")

Самая популярная платформа в 2000 году: PS (159 игр)
Самая популярная платформа в 2015 году: PS4 (137 игр)

вопрос 5: Какой издатель выпустил больше всего игр в период 2012-2015 оба конца включительно?

In [93]:
# ваш код здесь
# Отфильтруем данные по периоду с 2012 по 2015 год включительно
filtered_df = df[(df['Year'] >= 2012) & (df['Year'] <= 2015)]

# Подсчитаем количество игр, выпущенных каждым издателем
publisher_count = filtered_df['Publisher'].value_counts()

# Найдем издателя с наибольшим количеством выпущенных игр
top_publisher = publisher_count.idxmax()
top_publisher_count = publisher_count.max()

print(f"Издатель, выпустивший больше всего игр с 2012 по 2015 год: {top_publisher} ({top_publisher_count} игр)")

Издатель, выпустивший больше всего игр с 2012 по 2015 год: Namco Bandai Games (285 игр)

вопрос 6: Какой процент игр в жанре спорт был продан в Европе?

In [103]:
# ваш код здесь
# Фильтруем данные по жанру "Спорт"
sports_games = df[df['Genre'] == 'Sports']

# Суммируем продажи в Европе для жанра "Спорт"
sports_eu_sales = sports_games['EU_Sales'].sum()

# Суммируем общие продажи всех игр в Европе
total_eu_sales = df['EU_Sales'].sum()

# Вычисляем процент
percentage_sports_eu_sales = (sports_eu_sales / total_eu_sales) * 100

print(f"Процент игр в жанре 'Спорт', проданных в Европе: {percentage_sports_eu_sales:.2f}%")

Процент игр в жанре 'Спорт', проданных в Европе: 15.48%